environs
lgsvl
python-decouple
websockets>=8.1  # Although websockets is a dependency of lgsvl the version installed with lgsvl is too old and yields many locking errors (https://github.com/aaugustin/websockets/issues/760)
pytest
